PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=hsimulacion
DB_CONNECTION_LIMIT=10

JWT_SECRET=change_me
JWT_SECRET_APP=change_me_app
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
